<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <style>
        label,input{
            display: block;
        }
    </style>
</head>
<body>
    <div id="cont">
        <h1> Register a book</h1>
        <h2>Hi {{user}}</h2>
        <form method="POST" action="/add">
            <label for="isbm">ISBN</label>
            <input type="number" name="ismb" placeholder="ISBN.." min=""required>
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Title.." required>
            <label for="title">Author</label>
            <input type="text" name="author" placeholder="Author.." required>
            <label for="Year">Year</label>
            <input type="number" name="Year" placeholder="Year.." min=""required>
            <label for="country">Country</label>
            <input type="text" name="country" placeholder="country.." required>
            <label for="editorial">Editorial</label>
            <input type="text" name="editorial" placeholder="editorial.." required>
           
            <input type="submit" value="Agregar"> 
        </form>
        <p><a href='/'>Logout</a></p>
    </div>
</body>