<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html> 
    <html> 
    <head> 
        <title>VTV</title>
        <script src="../script/valida.js"></script>
        <style>
            input{
                width:200px;
                display: block;
                margin:10px;
            }
        </style>
 
    </head> 
    <body>
        <form name="formu" method="get" action="/turno">
            <input type="text" name="patente" placeholder="Ingrese su patente"/>
            <input type="number" name="year" placeholder="Ingrese el año del auto" min="1900" max="2020" />
            <input type="number" name="km" placeholder="Ingrese el kilometraje" min="0"/>
            <input type="button" value="Enviar" onclick="validar()"/>
        </form>
        
    </body> 
    </html>    
</body>
</html>