<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>  
    <script>let conjunto = ["AAA-123","AAC-823","AA-134-CC"];
        var pat1 = /^[a-z-A-Z]{3}[-][0-9]{3}$/;
        var pat2= /^[a-z-A-Z]{2}[-][0-9]{3}[-][a-z-A-Z]{2}$/;
        
        function validar() {            
            var patente = document.formu.patente.value;
            
            console.log(patente);
            
            if ( pat1.test(patente) ||  pat2.test(patente)) {
        
                if (conjunto.includes(patente)){
                     swal("Patente Morosa!!");
                }else{
                    // usando el name del formulario y el método submit
                    document.formu.submit();
                }
            } 
            else{
                alert("NO Es el formato: aaa-111 o aa-111-aa");
            }
           
        }
        </script> 
        <style>
            input{
                width:200px;
                display: block;
                margin:10px;
            }
        </style>
        <h1>{{t1}}</h1>
        <form name="formu" method="post" action="/turnos">
            <input type="text" name="patente" placeholder="Ingrese su patente" required/>
            <input type="number" name="year" placeholder="Ingrese el año del auto" min="1900" max="2020" required/>
            <input type="number" name="km" placeholder="Ingrese el kilometraje" min="0" required/>
            <input type="button" value="Enviar" onclick="validar()"/>
        </form>
        
</body>
</html>