<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <script src="../static/js/valida.js"></script>
</head>
<body>  
        <style>
            input{
                width:200px;
                display: block;
                margin:10px;
            }
        </style>
        <form name="formu" method="post" action="/turno">
            <input type="text" name="patente" placeholder="Ingrese su patente" required/>
            <input type="number" name="year" placeholder="Ingrese el año del auto" min="1900" max="2020" required/>
            <input type="number" name="km" placeholder="Ingrese el kilometraje" min="0" required/>
            <input type="button" value="Enviar" onclick="validar()"/>
        </form>
        <p id="deu"></p> 
</body>
</html>