<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Platos</h1>
    </header>
    <nav>
        <h1></h1>
        <ul>
            {% for plato in data %}
                <li><a href="/plato/{{plato.id}}">{{ plato.name }}</a></li>                
            {% endfor %}            
        </ul>
    </nav>
    
    <p><a href='/'>Regresar a la home</a></p>
</body>
</html>