<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Platos</h1>
    </header>
    <nav>
        <ul>
            {% for cat in data[0] %}
                 {%if cat.categoria === "minuta" %}
                        <li><a href="/plato/{{cat.id}}">{{ cat.name }}</a></li>
                {% endif %}
            {% endfor %}            
        </ul>
    </nav>
    

</body>
</html>