body {
  background-color: darkgreen;
  margin: 0;
  font-family: fantasy;
   
  width: 100%;
}

form{margin-left: 10%;margin-top: 10%;}
#box{margin-left: 10%; font-size: 50px;}

#div{margin-left: 2%;}
#error{color: red;}
